@mixin link-button($color1, $color2){
	box-sizing: border-box;
	background-color:$color1;
	text-align: center;
	padding:5px 0;
	font-size:1.6em;
	border:2px solid $color1;

	a {
		color:$color2;
	}

	&:hover {
		background-color: $color2;
	}

	&:hover a {
		color: $color1;
		display: block;
		width: 100%;
	}
}